<!doctype html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ title }}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="stylesheet" href="/css/pico.min.css">
    <link rel="stylesheet" href="/css/custom.css">
		<link href="https://fonts.googleapis.com/css2?family=Fira+Sans" rel="stylesheet">

		<script async src="https://cdn.ampproject.org/v0.js"></script>
		<script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>

		{% include "partals/recaptcha_header.njk"%}
	
	</head>

	<body>
		<amp-sidebar id="sidebar" class="sample-sidebar" layout="nodisplay" side="right">
			<aside>
    	  <nav>
    	    <button on="tap:sidebar.close" aria-label="Open menu">
    	      <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="16px" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
							<line x1="18" y1="6" x2="6" y2="18"></line>
							<line x1="6" y1="6" x2="18" y2="18"></line>
    	      </svg>
    	    </button>
    	    <ul>
    	      <li><a href="/">Hjem</a></li>
    	      <li><a href="/about">Om oss</a></li>
    	      <li><a href="#">Kontakt</a></li>
						<br>
						<div style="padding-right: 10%; text-align: end;">
							<a href="https://www.instagram.com/areabygg/" class="secondary"><i class="fa fa-instagram ft28" aria-hidden="true" style="padding-right: 8px;"></i></a>
							<a href="https://www.facebook.com/areabyggas/" class="secondary"><i class="fa fa-facebook ft28" aria-hidden="true"></i></a>
						</div>
    	    </ul>
    	  </nav>
    	</aside>
		</amp-sidebar>
			<nav class="navbar" style="padding-left: 0.5% ;padding-right: 0.5%">
				<ul></ul>
  		  <ul>
					<br>
					<a href="/" style="padding-top: 4%;">
						<img src="/images/area-bygg-logo.svg" width="300px" alt="Area Bygg AS"></a>
  		  </ul>
  		  <ul>
  		    <li>
  		      <button class="navbar-button" on="tap:sidebar.toggle" aria-label="Close menu">
  		        <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" height="16px" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
  		          <line x1="3" y1="6" x2="21" y2="6"></line>
  		          <line x1="3" y1="12" x2="21" y2="12"></line>
  		          <line x1="3" y1="18" x2="21" y2="18"></line>
  		        </svg>
  		      </button>
  		    </li>
  		  </ul>
  		</nav>
	<main class="container" style="padding-bottom: 0%; font-family: Fira Sans;">
			{% block content %}{% endblock %}
		</main>
			{% include "layouts/footer.njk" %}
	</body>
</html>
