<!doctype html>
{% block content %}
<footer class="container" style="padding-top: 0%;">
	<article data-theme="dark" style="padding-bottom: 1%;">
		<div class="grid">
			<div class="headings">
				<h6>KONTAKT PERSON</h6>
				<p>Raymond Hjellnes<br>
				936 66 929<br>
				post(a)areabygg.no<br>
				<br>
				Ta kontakt med oss for en hyggelig prat!
				</p>
			</div>
			<div class="headings">
				<h6>ADDRESSE</h6>
				<p>Area Bygg AS<br>
				Vadumveien Vest 9<br>
				3159 Melsomvik
				</p>
			</div>
			<div class="headings">
				<h6>VI UTFØRER:</h6>
				<ul>
					<li>Tilbygg</li>
					<li>Nybygg</li>
					<li>Rehablitering</li>
					<li>Takomlegging</li>
					<li>Byggesøknad</li>
					<li>Prosjektering</li>
					<li>Tomtedeling</li>
				</ul>
			</div>
			<div style="padding-top: 13%;">
				<p>Area Bygg er din lokale byggmester som utføre arbeidene kvalitetsbevist og til avtalt pris.</p>
				<br>
				<img src="/images/mester_ansvarsrett.png" alt="Area Bygg er mesterbedrift og har sentral godkjenning"/>
			</div>
		</div>
		<div>
			<div>
				<br>
				<br>
			</div>
		</div>
		<div class="headings" class="secondary">
			<nav>
				<ul>
					<small>
					Copyright © 2023 | Area Bygg AS
					</small>
				</ul>
				<ul>
				<a href="https://www.instagram.com/areabygg/" class="secondary"><i class="fa fa-instagram ft14" aria-hidden="true" style="padding-right: 15px;"></i></a>
				<a href="https://www.facebook.com/areabyggas/" class="secondary"><i class="fa fa-facebook ft14" aria-hidden="true"></i></a>
				</ul>
			</nav>
		</div>
	</article>
</footer>
{% endblock	%}
