<!doctype html>
{% extends "layouts/base.njk" %}
{% block content %}
<article style="padding-top: 4%;">
	<img src="{{ img }}" style="padding-bottom: 5%;"/>
		{{ content | safe }}
</article>
{% endblock	%}
